# pandas

## pandas
#### series allows heterogeneous 1d
#### dataframe  allows 2d
## index

In [55]:
import numpy as np ## it takes only homogeneoes
import pandas as pd ###consruct dataheterogeneous,data cleaning,retriving
list=[2,1,4,5,6,7,8,3,4,6]
data=pd.Series(list)
print(data)
print(data.index)

0    2
1    1
2    4
3    5
4    6
5    7
6    8
7    3
8    4
9    6
dtype: int64
RangeIndex(start=0, stop=10, step=1)

In [56]:
## index manuals
data=pd.Series(list,index=(0,1,2,3,4,5,6,7,7,7))
data

0    2
1    1
2    4
3    5
4    6
5    7
6    8
7    3
7    4
7    6
dtype: int64

In [4]:
data=pd.Series(list,index=("a","b","c","d","e","f","g","h","i","j"))
data

a    2
b    1
c    4
d    5
e    6
f    7
g    8
h    3
i    4
j    6
dtype: int64

In [5]:
data=pd.Series([1,2,"a","r"],index=(1,2,3,4))

In [6]:
data

1    1
2    2
3    a
4    r
dtype: object

# data retriving

In [7]:
data.index[3]

4

In [8]:
data.index[2]

3

In [9]:
data.index[1]

2

In [10]:
data.values

array([1, 2, 'a', 'r'], dtype=object)

In [11]:
data.index

Int64Index([1, 2, 3, 4], dtype='int64')

# series as single dictionary

In [12]:
dict={"name":"sai","age":18}
data=pd.Series(dict)
data

name    sai
age      18
dtype: object

In [13]:
# data.index

In [14]:
data.values

array(['sai', 18], dtype=object)

In [15]:
data.keys

<bound method Series.keys of name    sai
age      18
dtype: object>

In [16]:
data.values[0]

'sai'

In [17]:
data.keys()

Index(['name', 'age'], dtype='object')

# index accessing

In [18]:
import numpy as np
import pandas as pd
list=[1,2,3,4,5]
data=pd.Series(list,index=['a','b','c','d','e'])
data

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [19]:
data[0]

1

In [20]:
data[0:4] ##explicit indexing

a    1
b    2
c    3
d    4
dtype: int64

In [21]:
data['a':'e'] ##implicit indexing

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [57]:
## float
l=[0.1,0.2,0.3]
data=pd.Series(l)
data

0    0.1
1    0.2
2    0.3
dtype: float64

In [23]:
list=[1,2,3,4]
data=pd.Series(2,index=[1,2,3])
data

1    2
2    2
3    2
dtype: int64

In [24]:
dic={"name":"sai","age":18,"sex":"male"}
data=pd.Series(dic)
data

name     sai
age       18
sex     male
dtype: object

In [25]:
data["name"]

'sai'

In [26]:
data["name":"sex"]

name     sai
age       18
sex     male
dtype: object

# dataframes

In [27]:
l1=[1,2,3,4,5]
l2=[5,6,7,8,9,0]
data=pd.DataFrame([l1,l2])
data

   0  1  2  3  4    5
0  1  2  3  4  5  NaN
1  5  6  7  8  9  0.0

In [28]:
##NaN not a number
data=pd.Series({"name":"sai","age":18,"sex":"male"})
data

name     sai
age       18
sex     male
dtype: object

In [29]:
area=pd.Series({"name":"ias","age":20,"sex":"male"})
area

name     ias
age       20
sex     male
dtype: object

In [30]:
d=pd.DataFrame([data,area])
d

  name  age   sex
0  sai   18  male
1  ias   20  male

In [31]:
## data retriving
## retriving rows
d.index

RangeIndex(start=0, stop=2, step=1)

In [32]:
## retriving columns
d.columns

Index(['name', 'age', 'sex'], dtype='object')

In [33]:
## values
d.values

array([['sai', 18, 'male'],
       ['ias', 20, 'male']], dtype=object)

In [34]:
d[0:3]

  name  age   sex
0  sai   18  male
1  ias   20  male

In [35]:
d[::-1]

  name  age   sex
1  ias   20  male
0  sai   18  male

In [36]:
d["name"]

0    sai
1    ias
Name: name, dtype: object

In [37]:
d.columns[1]

'age'

In [38]:
d.values[0]

array(['sai', 18, 'male'], dtype=object)

In [39]:
d.values[1]

array(['ias', 20, 'male'], dtype=object)

In [40]:
d=pd.DataFrame([{'a':i,'b':2*i} for i in range(3)])
d

   a  b
0  0  0
1  1  2
2  2  4

In [41]:
a={"india":1,"as":2}
d=pd.DataFrame(a,columns=[3,4])
print(d)

Empty DataFrame
Columns: [3, 4]
Index: []

In [42]:
## index on=bject
ind =pd.Index([1,2,3,4])
ind

Int64Index([1, 2, 3, 4], dtype='int64')

In [43]:
print(ind.size,ind.shape,ind.ndim,ind.dtype)

4 (4,) 1 int64

In [44]:
a=pd.Index([5,6,7,8])
b=pd.Index([10,20,30,40])
c=pd.Index([a,b])
c

Index([[5, 6, 7, 8], [10, 20, 30, 40]], dtype='object')

In [46]:
a & b

Int64Index([], dtype='int64')

In [47]:
a | b

Int64Index([5, 6, 7, 8, 10, 20, 30, 40], dtype='int64')

In [48]:
a[0]

5

In [49]:
a[0:3]

Int64Index([5, 6, 7], dtype='int64')

In [50]:
a[0]=4

TypeError: Index does not support mutable operations

In [51]:
a^bd

Int64Index([5, 6, 7, 8, 10, 20, 30, 40], dtype='int64')

In [60]:
s={"a":1,"b":2,"c":3}
data=pd.Series(s)
data

a    1
b    2
c    3
dtype: int64

In [62]:
p={"a":4,"b":5,"c":6}
data1=pd.Series(p)
data1

a    4
b    5
c    6
dtype: int64

In [78]:
d=pd.DataFrame({"m":s,"q":p})
d

   m  q
a  1  4
b  2  5
c  3  6

In [70]:
d["m"]

a    1
b    2
c    3
Name: m, dtype: int64

In [81]:
d.index[1]

'b'

In [94]:
d.inde

IndexError: index 5 is out of bounds for axis 0 with size 3

In [95]:
## index
## explicit ## alphabets
## implicit ## numbers
## masking ## condition based 
## fancy indexing ## particular

In [97]:
## index
l=[1,2,3,4,5]
d=pd.Series(l,index=[5,1,3,4,2])
d

5    1
1    2
3    3
4    4
2    5
dtype: int64

In [103]:
## explicit
d[0:5]

5    1
1    2
3    3
4    4
2    5
dtype: int64

In [105]:
## implict
d[0:4]

5    1
1    2
3    3
4    4
dtype: int64

In [109]:
 ## masking
d[(d>2)&(d<4)]

3    3
dtype: int64

In [111]:
## fanacy on indexs
d[[2,3]]

2    5
3    3
dtype: int64

In [113]:
## iloc and loc
d.loc[5]

1

In [114]:
d.iloc[0]

1